<body id="cuerpo">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/pantalla4">Revision</a></li>
            <li class="breadcrumb-item"><a href="/pantalla5">Aceptados</a></li>
            <li class="breadcrumb-item"><a href="/pantalla6">Denegados</a></li>
        </ol>
    </nav>
    <!--Termina amaro empieza omar-->
    <div class="container">
        <div class="accordion" id="accordionPanelsStayOpenExample" style="margin-top: 50px;">
            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                    <button class="accordion-button" type="button" id="bar" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                        aria-controls="panelsStayOpen-collapseOne">
                        Accordion Item #1
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
                    aria-labelledby="panelsStayOpen-headingOne">
                    <div class="accordion-body">
                    </div>
                    <div class="d-flex justify-content-center" id="info">
                        <input id="user" type="text" readonly placeholder="Usuario">
                        <input id="date" type="text" readonly placeholder="Fecha">
                    </div><br>
                    <div class="d-flex justify-content-center">
                        <textarea name="codigo" id="txtCodigo" placeholder="CÓDIGO" readonly></textarea>
                    </div>
                    <div class="form-check form-switch d-flex justify-content-center" id="chValidar">
                        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                        <label class="form-check-label" for="flexSwitchCheckDefault"> Validar</label>
                    </div><br>
                    <div class="d-flex justify-content-center">
                        <textarea name="comentario" id="txtComentario" placeholder="Comentario(s)"></textarea>
                    </div><br>
                    <div class="d-flex justify-content-center">
                        <button type="button" class="btn btn-outline-primary btn-lg">Enviar comentario</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<!--<div class="container">
    
</div>-->