

<body id="bg-secondary">
  <div class="container pt-5">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Nueva Publicación </h5>
            <form>
              <div class="container mt-3">
                <select class="form-select" aria-label="Default select example">
                  <option selected>Categoría</option>
                  <option value="1">Java</option>
                  <option value="2">HTML</option>
                  <option value="3">JavaScript</option>
                </select>
              </div>
              <div class="container mt-3">
                <div class="d-flex justify-content-center">
                  <!--<input class="form-control me-2 text-center" type="date" placeholder="Codigo" aria-label="Search" style="height: 300px;">-->
                  <textarea name="Codigo" style="width: 800PX; height: 300px; " placeholder="Inserte el código aqui"></textarea>
                </div>
                <div>
              </div>
              </div>
              <div class="container mt-3">
                <button type="button" class="btn btn-primary">Publicar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  
 
  <div class="container">
    <div class="accordion" id="accordionPanelsStayOpenExample" style="margin-top: 50px;">
      <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingOne">
          <button class="accordion-button " id="bg-success" type="button" data-bs-toggle="collapse"
            data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
            aria-controls="panelsStayOpen-collapseOne">
            <p>Tema:</p>

          </button>
        </h2>
        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
          aria-labelledby="panelsStayOpen-headingOne">
          <div class="accordion-body">
            <div class="d-flex justify-content-center" >
              <textarea name="Codigo" style="width: 800PX; height: 300px;" readonly></textarea>
            </div>
            <br>
            <!--<div class="container" id="busqueda" style="float: right;">
              <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"
                  style="width: 200px; float:left; ">
                <button class="btn btn-outline-success" type="submit">Search</button>
              </form>
            </div>-->
            <br>
            <div class="d-flex justify-content-center" style="margin-top: 30px;">
              <!--<textarea name="Codigo" style="width: 800PX; height: 60px;"></textarea>-->
              <div class="card text-bg-light w-75 mb-3" >
                <div class="card-header">Nombre Ususario</div>
                <div class="card-body">
                  <p class="card-text">El comentario va aqui</p>
                  <p>La fecha aqui</p>
                </div>
              </div>
            </div>
            <button><i class="far fa-trash-alt"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
