<nav class="navbar navbar-expand-lg bg-info" id="barra2"><!--De Aqui se cambia el color-->
    <div class="container-fluid" id="barra">
        <a class="navbar-brand" href="/">Gestión Contenido</a><!--Esto me va a regresara la rura inicial de la navegacion-->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/pantalla2">Mis Codigos</a>
                </li>
                <li class="nav-item">
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/pantalla3">Publicaciones</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/pantalla4">Administrador</a>
                </li>
            </ul>

        </div>
    </div>
</nav>
